@charset "utf-8";
/* CSS Document */
.ui-header
{
font-size: .6em;
}
#alert
{
	 display: block;
	 margin-left: auto;
     margin-right: auto;
	 width:100%;
	 padding-bottom: 3px;
}
#guest
{
	 display: block;
	 margin-left: auto;
     margin-right: auto;
	 width:100%;
	 padding-bottom: 5px;
	
}
#history
{
	 display: block;
	 margin-left: auto;
    margin-right: auto;
	 width:100%;
	padding-bottom: 5px;
}

#logout
{
	 display: block;
	 margin-left: auto;
    margin-right: auto;
	 width:100%;
}
#logo
{
	 display: block;
	 margin-left: auto;
     margin-right: auto;
	 height: 175px;
}
h4
{
	display: block;
	font-size: 1em;

}

#gue
{
	 width: 550px ;
	 margin-left: auto;
     margin-right: auto;
}

#ale
{
	 width: 550px ;
	 margin-left: auto;
     margin-right: auto;
}
#Gbuttons
{
	 width: 700px ;
	 margin-left: auto;
     margin-right: auto;
}
#Abuttons
{
	 width: 700px ;
	 margin-left: auto;
     margin-right: auto;
}
table
{
 border-collapse: collapse;
 border: 1px solid black;
}
 td, th {
    border: 1px solid black;
	margin-left: auto;
    margin-right: auto;
}
td
{
text-align: center;
}
[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:relative ;}
