@charset "utf-8";
/* CSS Document */

#alert
{
	 display: block;
	 margin-left: auto;
    margin-right: auto;
}
#guest
{
	 display: block;
	 margin-left: auto;
    margin-right: auto;
}
#history
{
	 display: block;
	 margin-left: auto;
    margin-right: auto;
}
#logout
{
	 display: block;
	 margin-left: auto;
    margin-right: auto;
}
#logo
{
	 display: block;
	 margin-left: auto;
     margin-right: auto;
}
h4
{
	display: block;
	font-size: 1em;

}

#gue
{
	 width: 550px ;
	 margin-left: auto;
     margin-right: auto;
}

#ale
{
	 width: 550px ;
	 margin-left: auto;
     margin-right: auto;
}
#Gbuttons
{
	 width: 700px ;
	 margin-left: auto;
     margin-right: auto;
}
#Abuttons
{
	 width: 700px ;
	 margin-left: auto;
     margin-right: auto;
}
table
{
 border-collapse: collapse;
 border: 1px solid black;
}
 td, th {
    border: 1px solid black;
	margin-left: auto;
    margin-right: auto;
}
td
{
text-align: center;
}
